.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &-image {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  
  .icon-delete {
    &:hover {
      cursor: pointer;
    }
  }
  .cart-row{
    cursor: pointer;
    background-color: antiquewhite;
  }
  