#pricing .box{
    width: 80%;
    border: none;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &:hover{
        transform: translateY(-60px);
        transition: 1.2s;
        cursor: pointer;
    }
}

#pricing .box-brown{
    border: 5px solid brown;
    border-radius: 12px;
    &:hover{
        border: 4px solid brown;
    }
}
#pricing .box-sliver{
    border: 5px solid silver;
    border-radius: 12px;
    &:hover{
        border: 4px solid silver;
    }
}
#pricing .box-gold {
    border: 5px solid goldenrod;
    border-radius: 12px;
    &:hover{
        border: 4px solid gold;
    }
}
span{
    font-weight: 500;
}
